<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://nlog.org/schemas/NLog.xsd"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- Логирование в файл -->
		<target name="file" xsi:type="File" fileName="logs/${shortdate}.log"
                layout="${longdate} ${level} ${message} ${exception}" />

		<!-- Логирование в консоль -->
		<target name="console" xsi:type="Console" layout="${longdate} ${level} ${message} ${exception}" />
	</targets>

	<rules>
		<!-- Логирование всех сообщений уровня Debug и выше в файл -->
		<logger name="*" minlevel="Debug" writeTo="file" />
		<!-- Логирование всех сообщений уровня Info и выше в консоль -->
		<logger name="*" minlevel="Info" writeTo="console" />
	</rules>
</configuration>